@import './../../global/styles/global';

.list-section {
    position: relative;

    width: 100%;
    flex: 0 0 100%;

    padding-top: 2vh;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include for-desktop-up {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    background: transparent;
}



.list-table {
    margin-bottom: 5%;

    width: 97%;
    @include for-tablet-portrait-up {
        width: 90%;
    }

    @include for-desktop-up {
        max-width: 30vw;
    }

    border-collapse: collapse;
    table-layout: fixed;

    font-size: 1.35rem;

    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.35);

    &.incoming {
        tr:not(.list-table-divider) {background: $colour-incoming-light;}
        tr:nth-of-type(odd) {background: rgba($colour-incoming-light, 0.8)};
        .list-table-title {background: $colour-incoming-dark;}
    }
    &.active {
        tr:not(.list-table-divider) {background: $colour-active-light;}
        tr:nth-of-type(odd) {background: rgba($colour-active-light, 0.8)};
        .list-table-title {background: $colour-active-dark;}
    }
    &.completed {
        tr:not(.list-table-divider) {background: $colour-completed-light;}
        tr:nth-of-type(odd) {background: rgba($colour-completed-light, 0.6)};
        .list-table-title {background: $colour-completed-dark;}
    }

    tr {
        margin: 0;
    }

    td {
        vertical-align: middle;
        text-align: center;

        @include pad-hor (1rem);
        @include pad-vert (0.9rem);

    }

}

.list-table-title {
    width: 100%;
    @include pad-hor (3rem);
    @include pad-vert (0.5rem);

    font-size: 2rem;
    @include for-tablet-portrait-up {
        font-size: 3rem;
    }
}

.list-table-header {
    font-size: 1.5rem;
    @include for-tablet-portrait-up {
        font-size: 2rem;
    }
    font-variant-caps: all-small-caps;
}

.list-table-divider {
    height: 0.25rem;
    background-color: transparent;
}
