$colour-incoming-dark: rgb(247,141,124);
$colour-incoming-light:#E8E8E8;
$colour-active-dark: rgb(255,179,122);
$colour-active-light: #E8E8E8;
$colour-completed-dark: #539DC2;
$colour-completed-light: #E8E8E8;
